@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');
@import url('https://use.fontawesome.com/releases/v5.6.1/css/all.css');

:root {
  --cor-primaria: #0A4D68;
  --cor-secundaria: #088395;
  --cor-terciaria: #05BFDB;
  --cor-hover: #00FFCA;
  --cor-preto: #000000;

  --fonte-krona: 'Krona One', sans-serif;
  --fonte-montserrat: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body {
  box-sizing: border-box;
  background-color: var(--cor-primaria);
  color: var(--cor-secundaria);
  min-height: 100%;
}
 
.cabecalho{
    padding: 2% 0% 0% 15%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cabecalho__menu{
    display: flex;
    gap: 80px;
    align-items: center;
}

.cabecalho__menu__link{
    font-family: var(--fonte-montserrat);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
    margin-left: 15px;
 }

 .cabecalho__menu__link:hover{
    color: var(--cor-hover);
 }

.apresentacao{
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}    

.apresentacao__fotos{
  padding: 5% 15%;
  align-items: center;
  justify-content: space-between;
  gap: 82px;
}  

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__fotos{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem; /* dividir os px por 16 */
    font-family: var(--fonte-krona);
}

.apresentacao__conteudo__titulo__fotos{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 2.25rem; /* dividir os px por 16 */
  font-family: var(--fonte-krona);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao__conteudo__texto{
    font-size: 1.3rem;
    font-family: var(--fonte-montserrat);
    color: var(--cor-terciaria)
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.apresentacao__links__subtitulo{
    font-family: var(--fonte-krona);
    font-weight: 400;
    font-size: 1.5rem;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    border: 2px solid var(--cor-terciaria);
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color: var(--cor-secundaria);
    font-family: var(--fonte-montserrat);
}

.apresentacao__links__navegacao:hover{
    background-color: var(--cor-hover);  
}

.apresentacao__imagem{
  margin: 0;
  top: 0;
  width: 50%;
  border-radius: 10%;
}

.galeria {
    width: 100%;
    max-width: 800px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.galeria__imagem {
    margin: 10px;
    width: calc(22%);
    overflow: hidden;
}
.galeria__imagem img {
    width: 100%;
    height: auto;
    transition: transform 0.5s;
}
.galeria__imagem:hover img {
    transform: scale(1.1);
}

.rodape{
    background-color: var(--cor-terciaria);
    color: var(--cor-primaria);
    padding: auto;
    text-align: center;
    font-family: var(--fonte-montserrat);
    font-size: 1.5rem;
    margin-top: auto;
    position:bottom;
    bottom: 0;
    left: 0;
    width: 100%;
}

.apresentacao__conteudo__texto__link{
    color: var(--cor-terciaria);
}

.cabecalho__menu ul {
    list-style: none;
    display: flex;
}

.cabecalho__menu li {
    margin: 0 15px;
}

@media (max-width: 1200px){
    .cabecalho{
        padding: 10%;
    }

    .cabecalho__menu{
        justify-content: center;
    }

    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }
}

@media only screen and (max-width: 768px) {
  .cabecalho__menu{
      display: none;
  }
}

/*Sidebar telegram*/
.sidebar{
  position: fixed;
  width: 240px;
  left: -240px;
  height: 100%;
  background-color: #fff;
  transition: all .5s ease;
}
.sidebar header{
  font-size: 28px;
  color: #353535;
  line-height: 70px;
  text-align: center;
  background-color: #fff;
  user-select: none;
  font-family: 'Lato', sans-serif;
}
.sidebar a{
  display: block;
  height: 65px;
  width: 100%;
  color: #353535;
  line-height: 65px;
  padding-left: 30px;
  box-sizing: border-box;
  border-left: 5px solid transparent;
  font-family: 'Lato', sans-serif;
  transition: all .5s ease;
}
a.active,a:hover{
  border-left: 5px solid var(--accent-color);
  color: #000000;
    background: linear-gradient(to left, var(--accent-color), var(--gradient-color));
}
.sidebar a i{
  font-size: 23px;
  margin-right: 16px;
}
.sidebar a span{
  letter-spacing: 1px;
  text-transform: uppercase;
}
#check{
  display: none;
}
label #btn,label #cancel{
  position: absolute;
  left: 5px;
  cursor: pointer;
  color: #d6adff;
  border-radius: 5px;
  margin: 15px 30px;
  font-size: 29px;
  background-color: #22c2f3;
  box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
    inset -7px -7px 10px 0px rgba(0,0,0,.1),
    3.5px 3.5px 20px 0px rgba(0,0,0,.1),
    2px 2px 5px 0px rgba(0,0,0,.1);
  height: 45px;
  width: 45px;
  text-align: center;
  text-shadow: 2px 2px 3px rgba(255,255,255,0.5);
  line-height: 45px;
  transition: all .5s ease;
}
label #cancel{
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ .sidebar{
  left: 0;
}
#check:checked ~ label #btn{
  margin-left: 245px;
  opacity: 0;
  visibility: hidden;
}
#check:checked ~ label #cancel{
  margin-left: 245px;
  opacity: 1;
  visibility: visible;
}

.sidebar > a.active,.sidebar > a:hover:nth-child(even) {
  --accent-color: #52d6f4;
  --gradient-color: #c1b1f7;
}
.sidebar a.active,.sidebar > a:hover:nth-child(odd) {
  --accent-color: #1686e2;
  --gradient-color: #18def8;
}
